#content {
    margin-top: 1em;
}

#menu .pure-menu-heading.branding {
    font-size: 110%;
}

#menu .pure-menu-heading.breadcrumb {
    font-size: 80%;
    color: #eee;
}

a.branding .home-icon {
    display: none;
    font-size: 80%;
    float: right;
    margin-right: 0.6em;
}

a.branding:hover .home-icon {
    display: inline;
}

@media print {
    #menu {
        display: none;
    }
    #layout {
        padding-left: 0;
    }
}