body {
    color: #4C3C3E;
    background-image: url("../images/bg.png");
}

#content {
    margin-top: 1em;
}

#menu .pure-menu-heading.branding {
    font-size: 110%;
}

#menu .pure-menu-heading.breadcrumb {
    font-size: 80%;
    color: #eee;
}

a.branding .home-icon {
    display: none;
    font-size: 80%;
    float: right;
    margin-right: 0.6em;
}

a.branding:hover .home-icon {
    display: inline;
}

/* Content styling */
.content {
    color: #4C3C3E;
}

.content a.heading-permalink {
    position: absolute;
    left: -16px;
    user-select: none;
    font-size: 16px;
    display: inline-block;
    width: 16px;
    height: 16px;
}

.content h1, .content h2, .content h3, .content h4, .content h5, .content h6 {
    position: relative;
}

.content h1 > .heading-permalink,
.content h2 > .heading-permalink,
.content h3 > .heading-permalink,
.content h4 > .heading-permalink,
.content h5 > .heading-permalink,
.content h6 > .heading-permalink {
    color: transparent;
}

.content h1:hover > .heading-permalink,
.content h2:hover > .heading-permalink,
.content h3:hover > .heading-permalink,
.content h4:hover > .heading-permalink,
.content h5:hover > .heading-permalink,
.content h6:hover > .heading-permalink {
    color: #1f8dd6;
}

.content h1 > .heading-permalink:hover,
.content h2 > .heading-permalink:hover,
.content h3 > .heading-permalink:hover,
.content h4 > .heading-permalink:hover,
.content h5 > .heading-permalink:hover,
.content h6 > .heading-permalink:hover {
    color: #1f8dd6;
}

@media print {
    #menu {
        display: none;
    }

    #layout {
        padding-left: 0;
    }
}